.main-option {
  box-shadow: none;
  margin-bottom: 16px;
}

.navigation {
  &-item {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: start;

    &.active {
      background-color: var(--mat-sys-secondary-container);
      color: var(--mat-sys-on-secondary-container);
    }
  }
}

:host {
  & ::ng-deep {
    .navigation {
      &-item {
        & .mdc-button__label {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 8px;
        }
      }
    }
  }
}
