<div class="sidenav">
  <div class="sidenav-container flex flex-column align-items-center">
    <button matIconButton class="sidenav__menu" (click)="toggleModuleNavigation()">
      <mat-icon>menu</mat-icon>
    </button>
  
    <nav class="navigation">
      @for (item of menuItems; track item.label) {
        <div [routerLink]="item.route" routerLinkActive="active" #rla="routerLinkActive">
          <navigation-item [config]="item" [active]="rla.isActive"></navigation-item>
        </div>
      }
    </nav>
  </div>
</div>