.sidenav {
  color-scheme: dark;
  align-items: center;
  padding: 8px 8px 16px 8px;
  height: 100%;

  &-container {
    padding: 44px 0;
    height: 100%;
    max-width: 72px;
    background-color: var(--mat-sys-surface);
    gap: 40px;
    border-radius: var(--mat-sys-corner-medium);
  }

  &__menu {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navigation {
  display: grid;
  gap: 4px;
}
