<div class="content-panel">
  <toolbar>
    <button matIconButton (click)="goBack()">
      <span class="material-symbols">arrow_back</span>
    </button>
  </toolbar>

  <div class="container-lg">
    <div class="margin-vertical-lg">
      <div class="margin-bottom-md">
        <section-header type="page">
          <ng-container title>Registrar empleado</ng-container>
        </section-header>
      </div>

      <form class="margin-bottom-lg">

        <!-- Basics -->

        <div class="margin-bottom-md">
          <section-header type="section">
            <ng-container title>Datos básicos</ng-container>
            <ng-container description>Ingresa la información principal del empleado para su registro en el
              sistema.</ng-container>
          </section-header>
        </div>

        <div class="grid gap-sm margin-bottom-lg">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de documento de identidad</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="document">
              @for (document of documentTypes; track document) {
              <mat-option [value]="document.value">{{document.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Número de documento de identidad</mat-label>
            <input matInput placeholder="N° documento de identidad">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder="Nombres">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>

          <div class="full-row padding-bottom-sm">
            <mat-divider></mat-divider>
          </div>
        </div>

        <!-- Contact -->

        <div class="margin-bottom-md">
          <section-header type="section">
            <ng-container title>Datos de contacto</ng-container>
            <ng-container description>Registra los medios de comunicación y dirección del empleado.</ng-container>
          </section-header>
        </div>

        <div class="grid gap-md margin-bottom-lg">
          <mat-form-field appearance="outline">
            <mat-label>Número telefónico</mat-label>
            <input matInput placeholder="Número telefónico">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="Dirección">
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>

          <div class="full-row padding-bottom-sm">
            <mat-divider></mat-divider>
          </div>
        </div>

        <!-- laboral -->

        <div class="margin-bottom-md">
          <section-header type="section">
            <ng-container title>Datos laborales</ng-container>
            <ng-container description>Registra información que vincula al trabajador con su rol dentro de la
              empresa.</ng-container>
          </section-header>
        </div>

        <div class="grid gap-md margin-bottom-lg">
          <mat-form-field appearance="outline">
            <mat-label>Cargo o función</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="document">
              @for (document of documentTypes; track document) {
              <mat-option [value]="document.value">{{document.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Área o departamento</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="document">
              @for (document of documentTypes; track document) {
              <mat-option [value]="document.value">{{document.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Fecha de ingreso</mat-label>
            <input matInput [matDatepicker]="picker">
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-slide-toggle ngModel name="employeeStatus" id="employeeStatus" class="full-row">
            <section-header type="form" forLabel="employeeStatus-button">
              <ng-container title>Estado de empleado</ng-container>
              <span description>Activa esta opción si el trabajador se encuentra actualmente en servicio.</span>
            </section-header>
          </mat-slide-toggle>
        </div>

        <div class="flex">
          <div class="flex-spacer"></div>
          <div class="flex gap-xs">
            <button matButton="outlined">Cancelar</button>
            <button matButton="filled">Aceptar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>