<div class="content-panel">
  <toolbar>
    <button matIconButton (click)="goBack()">
      <span class="material-symbols">arrow_back</span>
    </button>
  </toolbar>

  <div class="padding-horizontal-md margin-vertical-lg">
    <div class="margin-bottom-md">
      <section-header type="page">
        <ng-container title>Empleados</ng-container>
        <ng-container description>4 empleados</ng-container>
      </section-header>
    </div>

    <div class="search">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Buscar">
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <div class="flex gap-xxs">
        <span class="material-symbols icon-small">lightbulb</span>
        <span class="body-small">Puedes buscar empleados por número de documento, nombre o apellido.</span>
      </div>
    </div>
  </div>

  <div class="contacts">
    <div class="contacts-header">
      <span>A</span>
    </div>
    <div class="contacts-item flex gap-sm">
      <div class="avatar">
        <span class="avatar-initial title-large font-bold">A</span>
      </div>
      <div class="contacts-item__info">
        <span class="contacts-item__name block body-medium font-bold">Alberto Pérez</span>
        <span class="contacts-item__role block body-medium">Mécanico</span>
      </div>
    </div>
    <div class="contacts-item flex gap-sm">
      <div class="avatar">
        <span class="avatar-initial title-large font-bold">A</span>
      </div>
      <div class="contacts-item__info">
        <span class="contacts-item__name block body-medium font-bold">Alberto Pérez</span>
        <span class="contacts-item__role block body-medium">Mécanico</span>
      </div>
    </div>
    <div class="contacts-header">
      <span>J</span>
    </div>
    <div class="contacts-item flex gap-sm" (click)="openDetails(1)">
      <div class="avatar">
        <span class="avatar-initial title-large font-bold">J</span>
      </div>
      <div class="contacts-item__info">
        <span class="contacts-item__name block body-medium font-bold">Juan Pérez Torres</span>
        <span class="contacts-item__role block body-medium">Mécanico</span>
      </div>
    </div>
  </div>
</div>