.date-hour {
  border-radius: var(--mat-sys-corner-small);
  overflow: hidden;
  box-shadow: var(--mat-sys-level2);

  &__date,
  &__time {
    padding: 0.5rem 1rem;
  }

  &__date {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    text-align: center;
  }
  
  &__time {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
  }
}
