.header {
  &-title {
    color: var(--mat-sys-on-surface);
    font-weight: 700;
  }

  &-description {
    display: block;
  }
}

.page {
  & .header {
    &-description {
      color: var(--mat-sys-on-surface-variant);
    }
  }
}

label {
  padding-left: 0.75rem;

  & + .header-description {
    padding-left: 0.75rem;
  }
}
