.on-surface-variant-50 {
  color: var(--mat-sys-neutral-variant-50);
}

.on-surface-success {
  color: var(--mat-sys-utility-success);
}

.on-surface-danger {
  color: var(--mat-sys-utility-danger);
}
