@use "sass:map";
@use "@angular/material" as mat;
@use "../themes/theme-colors.scss" as my-theme;
@use "../themes/theme-typography" as *;

:root {
  --mat-sys-neutral95: #{map.get(my-theme.$neutral-variant-palette, 95)};

  --mat-sys-neutral-variant-50: #{map.get(my-theme.$neutral-variant-palette, 50)};

  --mat-sys-utility-success: #{map.get(my-theme.$utility-colors, 1)};

  --mat-sys-utility-danger: #{map.get(my-theme.$error-palette, 50)};
  
  --mat-sys-utility-info20: #{map.get(my-theme.$utility-colors, 20)};
  --mat-sys-utility-info21: #{map.get(my-theme.$utility-colors, 21)};

  --size-submenu: 256px;
  --mat-form-field-container-height: 56px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        secondary: my-theme.$secondary-palette,
        tertiary: my-theme.$tertiary-palette,
        neutral: my-theme.$neutral-palette,
        neutral-variant: my-theme.$neutral-variant-palette,
        utility: my-theme.$utility-colors
      ),
      typography: $my-typography,
      density: 0
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  // Reset the user agent margin.
  margin: 0;
  height: 100vh;
  font-family: "Cabin";
  font-size: 16px;
}
/* You can add global styles to this file, and also import other style files */

img {
  height: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/**
 * Mat table
 */
.mat-mdc-cell {
  border-bottom-color: var(--mat-sys-outline-variant) !important;
}

/**
 * Mat list
 */
.mat-mdc-menu-panel {
  border-radius: var(--mat-sys-corner-large) !important;
  background-color: var(--mat-sys-surface-container-low) !important;
  transform: translate(8px, -16px);
  transition: 0.5s transform linear;
}

.mat-mdc-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0 !important;

  & .mat-divider {
    margin-top: 5.5px !important;
    margin-right: 8px;
    margin-bottom: 5.5px !important;
    margin-left: 8px;
    width: calc(100% - 16px);
  }

  & .mat-mdc-menu-item {
    border-radius: var(--mat-sys-corner-extra-small);
  }

  & .mat-mdc-menu-item:first-child {
    border-top-left-radius: var(--mat-sys-corner-medium);
    border-top-right-radius: var(--mat-sys-corner-medium);
  }
  
  & .mat-mdc-menu-item:last-child {
    border-bottom-left-radius: var(--mat-sys-corner-medium);
    border-bottom-right-radius: var(--mat-sys-corner-medium);
  }
}

.mat-mdc-menu-item {
  width: calc(100% - 8px) !important;
  transition: 0.3s all ease-in-out;
}

/**
 * Mat Input
 */

.mat-mdc-select-min-line {
  font-weight: 500;
}

.mat-mdc-input-element {
  font-weight: 500 !important;
}
