.data-card {
  background: var(--mat-sys-secondary-container);
  border-radius: var(--mat-sys-corner-medium);

  &__header {
    color: var(--mat-sys-on-secondary-container);

    & .material-symbols {
      font-size: 16px;
    }
  }

  &__body {
    border-radius: var(--mat-sys-corner-small);
    background: var(--mat-sys-surface-container-lowest);
    overflow: hidden;
  }
}
